<app-header></app-header>
<ion-content>
  <div *ngIf="products_exits_on_cart">
    <ion-card class="">
      <ion-card-content>
        Delivery Address
      </ion-card-content>
    </ion-card>
    <ion-list>
    <ion-card  *ngFor="let item of productList" class="">
        <ion-grid>
            <ion-row>
              <ion-col size="8">
                <ion-card-header>
                    <ion-card-title>{{item.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-card-title><fa-icon icon="rupee-sign" size="1x" class="rstar-icon"></fa-icon> {{item.price}} </ion-card-title>
                </ion-card-content>
              </ion-col>
              <ion-col size="4">
                  <ion-card-header style="padding: 0px 0px 5px 0px;" >
                      <ion-img [src]="this.media_url+item.image_small"></ion-img>
                  </ion-card-header>
                  <ion-card-content no-padding>
                      <ion-select  class="_c_select" placeholder="Qty." (ionChange)="changeQty(item.id,$event)">
                        <ion-select-option value="{{i}}" [selected] = "i==item.cart_qty" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">{{i}}</ion-select-option>
                      </ion-select>
                  </ion-card-content>
                </ion-col>
            </ion-row>
          </ion-grid>
          <ion-segment>
              <ion-segment-button style="border-top:1px solid #989aa2;
              border-right:1px solid #989aa2;" layout="icon-start">
                 <ion-label  no-margin style="text-transform: none;">Save For Letter</ion-label>
                 <ion-icon name="archive"  no-margin size="small"></ion-icon>
              </ion-segment-button>
              <ion-segment-button  style="border-top:1px solid #989aa2;background-color: red;color:#fff;" 
              (click)="removeFromCartEvent(item.id)" layout="icon-start">
                <ion-label no-margin style="text-transform: none;">Remove</ion-label>
                <ion-icon name="trash" no-margin size="small"></ion-icon>
              </ion-segment-button>
          </ion-segment>
    </ion-card>
    </ion-list>
    <ion-card>
      <ion-card-content>
          Price Details Content
      </ion-card-content>
    </ion-card>
   
  </div>
  <div *ngIf="!products_exits_on_cart" padding style="text-align: center;margin-top: 50px;">
      <ion-button  type="button" expand="" fill="outline" (click)="go_to_home()" color="tertiary">Go Back to Shop</ion-button>
  </div>
</ion-content>
<ion-footer *ngIf="products_exits_on_cart" style="background-color: #fff">
    <ion-toolbar color="light">
        <ion-title style="color:#000;"><fa-icon icon="rupee-sign" size="1x" class="rstar-icon"></fa-icon> {{totalPrice}}</ion-title>
        <ion-button type="button" (click)="placeOrderEvent()"
        slot="end" style="margin: 0px 10px 0px 0px" shape="">Place Order</ion-button>
    </ion-toolbar>
</ion-footer>

