<app-header></app-header>
<ion-content>
  <div *ngIf="products_exits_on_cart">
    <ion-card class="">
      <ion-card-content>
        Delivery Address
      </ion-card-content>
    </ion-card>
    
    <ion-card  *ngFor="let item of productList" class="margin-top-bottom">
        <ion-grid class="no-margin no-padding">
            <ion-row>
              <ion-col size="9">
                  <ion-item lines="none">{{item.name}}</ion-item>
                  <ion-item lines="none"><fa-icon icon="rupee-sign" size="1x"></fa-icon> {{item.price}} </ion-item>
              </ion-col>
              <ion-col size="3" class="padding-10">
                <ion-img [src]="this.media_url+item.image_small"></ion-img>
                <ion-select  value="{{item.cart_qty}}" class="border-full margin-top-bottom" placeholder="Qty." (ionChange)="changeQty(item.id,$event)">
                  <ion-select-option value="{{i}}" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">{{i}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="border-up-right text-center padding-10">
                <fa-icon icon="archive" size="small"></fa-icon> Save For Letter
              </ion-col>
              <ion-col class="border-up text-center padding-10" (click)="removeFromCartEvent(item.id)">
                <fa-icon icon="trash"  size="small"></fa-icon> Remove
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
   
    <ion-card *ngIf="products_exits_on_cart" class="margin-top-bottom">
      <ion-grid class="no-margin no-padding">
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              Price Details Content
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row lines="none">
          <ion-col>
            <ion-item lines="none">
              <ion-label slot="start">Price ({{productList.length}} items)</ion-label>
              <ion-label slot="end"><fa-icon icon="rupee-sign" size="1x"></fa-icon> {{totalPrice}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="full">
              <ion-label slot="start">Delivery</ion-label>
              <ion-label slot="end" color="success">Free</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label slot="start">Amount Payable</ion-label>
              <ion-label slot="end"><fa-icon icon="rupee-sign" size="1x"></fa-icon>{{totalPrice}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div *ngIf="!products_exits_on_cart" padding style="text-align: center;margin-top: 50px;">
      <ion-button  type="button" expand="" fill="outline" (click)="go_to_home()">Go Back to Shop</ion-button>
  </div>
</ion-content>
<ion-footer *ngIf="products_exits_on_cart">
    <ion-item>
        <ion-title>
          <fa-icon icon="rupee-sign" size="1x" class="rstar-icon"></fa-icon>{{totalPrice}}
        </ion-title>
        <ion-button type="button" (click)="placeOrderEvent()" size="default" slot="end">Place Order</ion-button>
    </ion-item>
</ion-footer>

