<app-header></app-header>
<ion-content slot="fixed">
  <div *ngIf="visibleKey">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-icon ios="heart-outline" md="heart-sharp" size="large" color="danger" (click)="addToWishList()"></ion-icon>
    </ion-fab>
    <ion-img [src]="this.medie_url+mainImage" class="" (click)="getProdcutSlider(productDetails.id)"></ion-img>
    <ion-grid no-padding>
      <ion-row text-center>
        <ion-col size="2" *ngFor="let e_img of productDetails.gallery_images;" no-padding>
            <ion-thumbnail *ngIf="e_img">
              <ion-img [src]="this.medie_url+e_img" (click)="chnageProductImage($event,e_img)" [class]=""></ion-img>
            </ion-thumbnail>
            
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="inner-div">
    <h5>{{productDetails.name}}</h5>
    <h4 size="small"><fa-icon icon="rupee-sign" size="1x" class="rstar-icon"></fa-icon> {{productDetails.price}}</h4>
  </div>
  <ion-card>
    <ion-card-content class="no-padding">
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Highlights</ion-label>
        </ion-list-header>
        <ion-item><p>{{productDetails.description}}</p></ion-item>
        <ion-item><p>{{productDetails.description}}</p></ion-item>
        <ion-item><p>{{productDetails.description}}</p></ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content class="card_content_extra_padding">
      <ion-button size="default" expand="block" (click)="addToCartEvent()" *ngIf="add_to_cart_btn_visible">Add to Cart</ion-button>
      <ion-button size="default" expand="block"  (click)="goToCartEvent()" *ngIf="!add_to_cart_btn_visible">Go To Cart</ion-button>
      <ion-button size="default" expand="block" color="danger">Buy Now</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


  
