._c_ion-segment-button-back-tertiary{
    background: #7044ff;
    color: #fff;
}
._c_ion-segment-button-back-white{
    background: #fff;
    color: #7044ff;
    border-top:0.5px solid #7044ff;
    border-bottom:0.5px solid #7044ff;
    border-left:0.5px solid #7044ff;
}

