<app-header></app-header>
<ion-content slot="fixed">
  <div *ngIf="visibleKey">
    <ion-img [src]="this.medie_url+mainImage" class="" (click)="getProdcutSlider(productDetails.id)"></ion-img>
    <ion-grid no-padding>
      <ion-row text-center>
        <ion-col size="2" *ngFor="let e_img of productDetails.gallery_images;" no-padding>
            <ion-thumbnail *ngIf="e_img">
              <ion-img [src]="this.medie_url+e_img" (click)="chnageProductImage($event,e_img)" [class]=""></ion-img>
            </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="inner-div">
    <h5>{{productDetails.name}}</h5>
    <h4 size="small"><fa-icon icon="rupee-sign" size="1x" class="rstar-icon"></fa-icon> {{productDetails.price}}</h4>
  </div>
  <ion-card>
    <ion-card-content>
      <h1 class="h1_class">Highlights</h1>
      
        <li><ion-text>{{productDetails.description}}</ion-text></li>
      
    </ion-card-content>
  </ion-card>
  <ion-segment class="_c_footer">
    <ion-segment-button class="_c_ion-segment-button-back-white" (click)="addToCartEvent()" *ngIf="add_to_cart_btn_visible">
        <ion-label>Add to Cart</ion-label>
    </ion-segment-button>
    <ion-segment-button  class="_c_ion-segment-button-back-white" (click)="goToCartEvent()" *ngIf="!add_to_cart_btn_visible">
          <ion-label>Go To Cart</ion-label>
    </ion-segment-button>
    <ion-segment-button class="_c_ion-segment-button-back-tertiary">
      <ion-label>Buy Now</ion-label>
    </ion-segment-button>
  </ion-segment>
    
</ion-content>


  
